version: "3.7"
services:
  raspi-finance-react:
    image: raspi-finance-react
    hostname: hornsup
    build:
      context: ./
      args:
       - TIMEZONE=America/Chicago
      dockerfile: Dockerfile
    container_name: raspi-finance-react
    ports:
      - "3000:443"
    expose:
      - "3000"
      - "443"
#    mem_limit: 1024m
    # volumes:
    #   - ./ssl:/etc/nginx/certs/
    extra_hosts:
      - "hornsup:${HOST_IP}"
    env_file:
      - env.prod
networks:
  default:
    name: finance-net
