$base-line-height: 24px;
$white: rgb(255,255,255);
$off-white: rgba($white, 0.2);
$spin-duration: 1s;
$pulse-duration: 750ms;

html {
  height: 100%;
}
body {
  @extend html;
  display: flex;
  background: #333333;
}

.wrapper {
  display: inline-block;
}

//ul.nav a:hover { color: #fff !important; }

.white-div {
  background-color: white;
}

// .Select-control {
//     table-layout: fixed;
// }

// .Select-input {
//     overflow: hidden;
//     max-width: 100%;
//   }

.wrapper table {
	border-style: none;
	border-collapse: collapse;
  display: block;
}

.table-content {
  overflow-y: scroll;
  border-collapse: collapse;
  display: block;
}

th {
	background-color: #333;
	color: #fcfcfc;
}

td {
	color: #333;
}

th, td {
	text-align: center;
	font-size: .6rem;
	font-weight: bold;
	text-transform: uppercase;
	font-family: sans-serif;
	width: 6rem;
}

.tr {
  height: 35px;
  max-height: 35px;
}

tr:nth-child(odd) {
  // background-color: #f6f7f7;
  background-color: lightsteelblue;
}

tr:nth-child(even) {
  // background-color: #fcfcfc;
  background-color: lightyellow;
}

tr:hover {
    background-color: lightslategray;
}

tr:hover td {
    background-color: transparent; /* or #000 */
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  // margin-top: -50px; // replace with your height/2
  transform: translate(-50%, -50%);
  // margin-left: -100px; // replace with your width/2
}

.table-formatting {
  max-width: 100%;
  margin-top:10%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  50% {
    background: $white;
  }
}

.loading {
    border-radius: 50%;
    width: $base-line-height;
    height: $base-line-height;
    border: .25rem solid $off-white;
    border-top-color: $white;
    animation: spin $spin-duration infinite linear;
}

.loading-pulse {
  position: relative;
  width: ($base-line-height / 4);
  height: $base-line-height;
  background: $off-white;
  animation: pulse $pulse-duration infinite;
  animation-delay: ($pulse-duration / 3);
  &:before, &:after {
    content: '';
    position: absolute;
    display: block;
    height: ($base-line-height / 1.5);
    width: ($base-line-height / 4);
    background: $off-white;
    top: 50%;
    transform: translateY(-50%);
    animation: pulse $pulse-duration infinite;
  }
  &:before {
    left: -($base-line-height / 2);
  }
  &:after {
    left: ($base-line-height / 2);
    animation-delay: ($pulse-duration / 1.5);
  }
}
